:root {
  --clr-orange: hsl(20, 84%, 63%);
  --clr-dark-orange: hsl(20, 84%, 63%);
  --clr-dark-blue: hsl(231, 45%, 17%);
  --clr-blue: hsl(230, 95%, 70%);
  --clr-light-blue: hsl(231, 95%, 75%);
  --clr-dark-grey: hsl(223, 17%, 35%);
  --clr-light-grey: hsl(237, 9%, 40%);
  --clr-white: #fff;
  --clr-off-white: #f7f7f7;
  --clr-black: #000000;
  --clr-off-black: #222;
  --transition: all 0.3s linear;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  color: var(--clr-light-grey);
  font-family: "Ubuntu", sans-serif;
}
img {
  width: 100%;
  display: block;
}
.btn button {
  background: var(--clr-dark-orange);
  border: transparent;
  border: 2px solid var(--clr-dark-orange);
  border-radius: var(--radius);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-black);
}
.btn {
  color: var(--clr-off-white);
  text-decoration: none;
  transition: var(--transition);
  font-weight: 500;
}
.btn button:hover {
  background: var(--clr-off-white);
  color: var(--clr-black);
}

h1,
h3 {
  color: var(--clr-dark-grey);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
h1 {
  font-weight: 500;
  font-size: 3rem;
}
h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
p {
  letter-spacing: 0.1rem;
}

.center {
  max-width: 1170px;
}
main {
  width: 100%;
  height: calc(100vh - 4rem - 4rem);
  background: var(--clr-off-white);
  display: grid;
  place-items: center;
  overflow: scroll;
}

/* navbar */
.navbar-header {
  width: 100%;
  min-height: 4rem;
  max-height: 4rem;
  display: grid;
  place-items: center;

  z-index: 2;
  background: var(--clr-dark-blue);
}

.navbar {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
  padding: 1rem 0.5rem;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-off-white);
  display: block;
  transition: var(--transition);
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 2px solid var(--clr-dark-blue);
}
nav a:hover {
  color: var(--clr-orange);
  border-bottom: 2px solid var(--clr-orange);
}

.navbar .btn button {
  padding: 0.25rem 0.75rem;
}

@media screen and (min-width: 720px) {
  nav a {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (min-width: 1020px) {
  nav a {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

/* home */
.home-img {
  display: none;
}
.home-info {
  width: 90%;
  display: grid;
  justify-content: center;
  padding-left: 2rem;
}

.home-info p {
  margin: 0.5rem 0;
  width: 80%;
  max-width: 40rem;
  font-size: 1.25rem;
}
.home-info h3 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 720px) {
  .home-info h1 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1020px) {
  .home-img {
    display: block;
    width: 20rem;
    position: relative;
    margin-right: 3rem;
    padding-left: 0;
  }
  .home-img::before {
    content: "";
    top: 1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr-dark-blue);
    position: absolute;
    border-radius: var(--radius);
  }
  .home-img img {
    border-radius: var(--radius);
    position: relative;
    height: 25rem;
    object-fit: cover;
  }

  .home-info {
    width: 100%;
    display: block;
    margin-left: 3rem;
  }
  .center {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
  }
}

/* footer */
.basic-footer {
  background: var(--clr-off-black);
  min-height: 4rem;
  max-height: 4rem;
  display: grid;
  place-items: center;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  max-width: 30rem;
}
.social-icons i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--clr-off-white);
  transition: var(--transition);
}
.social-icons i:hover {
  color: var(--clr-orange);
}
.basic-footer p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--clr-off-white);
}

/* about */
.main-about {
  width: 100%;
  padding: 4rem 0;
  display: grid;
  place-items: center;
  background: ;
}
.about-info {
  width: 90%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.about-info h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-info p {
  margin: 0.25rem 0;
  width: 80%;
  max-width: 40rem;
  font-size: 1rem;
  font-weight: 400;
}
.about-info h3 {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 30rem;
  font-size: 1.25rem;
}
@media screen and (min-width: 720px) {
  .about-info h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1020px) {
  .about-info p {
    font-size: 1.5rem;
    max-width: 60rem;
  }
  .about-info h3 {
    font-size: 2rem;
    max-width: 40rem;
  }
}

/* projects info */
.projects-info {
  width: 90%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.projects-info h1 {
  font-size: 4rem;
  text-align: center;
}
.projects-info span {
  width: 4rem;
  height: 4rem;
  margin-top: 3rem;
  font-size: 2rem;
  background: var(--clr-dark-blue);
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.projects-info span i {
  color: var(--clr-off-white);
}

/* contact */
.navbar-contact {
  background: var(--clr-off-white);
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-contact li a {
  color: var(--clr-dark-blue);
  border-bottom-color: var(--clr-off-white);
  transition: var(--transition);
}
.navbar-contact li a:hover {
  color: var(--clr-orange);
  border-bottom-color: var(--clr-orange);
  transition: var(--transition);
}
.navbar-contact .btn button:hover {
  border-color: var(--clr-dark-blue);
  background: var(--clr-dark-blue);
  color: var(--clr-off-white);
}

.main-contact {
  width: 100%;
  padding: 4rem 0;
  display: grid;
  place-items: center;
  background: hsl(231, 45%, 10%);
}
.first-head {
  color: var(--clr-orange);
  margin-bottom: 4rem;
  font-size: 2rem;
  text-align: center;
}
.last-head {
  color: var(--clr-orange);
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
}
.contact-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 20rem;
  width: 100%;
  margin-top: 1rem;
}

.contact-icons i {
  color: var(--clr-off-white);
  font-size: 2rem;
  transition: var(--transition);
}

.container {
  width: 80%;
  max-width: 560px;
  margin: 0 auto;
  background: hsl(231, 45%, 15%);
  border-radius: 0.5rem;
  padding: 2rem;
}

.contact-header {
  margin-bottom: 2rem;
}
.contact-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.contact-icon i {
  font-size: 2rem;
  color: var(--clr-off-white);
}
.contact-header h1 {
  font-size: 1.5rem;
  color: var(--clr-off-white);
  text-align: center;
}
.contact-header p {
  color: hsl(0, 0%, 85%);
  margin-top: 0.5rem;
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.contact-input {
  margin-bottom: 1rem;
}
.input-control {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: 1px solid hsl(230, 95%, 75%);
  background: transparent;
  border-radius: 0.25rem;
  color: var(--clr-off-white);
}
.input-control::placeholder {
  color: var(--clr-off-white);
  text-transform: capitalize;
}
textarea {
  width: 100%;
  height: 6rem;
  background: transparent;
  border: 1px solid hsl(230, 95%, 75%);
  background: transparent;
  border-radius: 0.25rem;
  color: var(--clr-off-white);
  padding-left: 0.25rem;
}
textarea::placeholder {
  color: var(--clr-off-white);
  text-transform: capitalize;
  padding-left: 0.25rem;
}

.form-btn {
  padding: 1rem 1rem;
  background: var(--clr-orange);
  border-color: transparent;
  border-radius: 0.5rem;
  color: var(--clr-off-white);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

/* journaling */
.main-journaling {
  width: 100%;
  background: hsl(231, 45%, 10%);
  padding: 3rem 0;
}
.main-journaling > h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--clr-off-white);
}
.underline {
  width: 20rem;
  height: 3px;
  background: var(--clr-orange);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
}

.journaling-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: 600px;
}
.article {
  padding: 2rem;
  position: relative;
}
.article:nth-child(odd) {
  border-right: 2px dashed var(--clr-orange);
  border-top: 2px dashed var(--clr-orange);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
}
.article:nth-child(even) {
  border-left: 2px dashed var(--clr-orange);
  border-top: 2px dashed var(--clr-orange);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
.article:first-child {
  border-top: none;
  border-top-right-radius: 0;
}
.article:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.article h2 {
  color: hsl(0, 0%, 55%);
}
.article h3 {
  color: hsl(0, 0%, 75%);
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem 0;
}
.article p {
  color: var(--clr-off-white);
}

.number {
  display: block;
  width: 2rem;
  height: 2rem;
  background: var(--clr-orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 1.1rem;
  position: absolute;
}
.article:nth-child(odd) .number {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.article:nth-child(even) .number {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
